.top_space {
	padding-top: 85px;
}

.title_small {
	font-family: 'Muli', sans-serif;
	font-weight: bold;
	font-style: italic;
	text-align: left;
	padding-left: 25px;
	font-size: 15px;
	width: 25%;
}

.title_medium {
	font-family: 'Muli', sans-serif;
	font-weight: bold;
	font-style: italic;
	text-align: left;
	padding-left: 25px;
	font-size: 25px;
	width: 25%;
}

.title_large {
	font-family: 'Muli', sans-serif;
	font-weight: bold;
	font-style: italic;
	text-align: left;
	padding-left: 25px;
	font-size: 35px;
	width: 25%;
}

.stat_bar {
	text-align: center;
	position: relative;
	font-family: 'Muli', sans-serif;
	width: 10%;
	font-weight: bold, italic;
}

.stat_text {

}

.stat_value {

}

.skill_bar {
	align-content: left;
	position: relative;
	text-align: left;
}

.char_name {
	font-family: 'Muli', sans-serif;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	font-size: 23px;
	width: 15%;
}

.char_bar {
	text-align: left;
	position: relative;
	font-family: 'Muli', sans-serif;
	font-size: 15px;
	font-weight: bold, italic;
	width: 50%;
}

.char_text {
	text-align: center;
	position: relative;
	font-family: 'Muli', sans-serif;
	font-size: 15px;
	font-weight: bold, italic;
}

.char_value {

}

.footer {
	text-align: right;
	position: fixed;
	bottom: 0;
	width:100%;
	padding-bottom: 25px;
	padding-right: 45px;
}

.content_border {
	border-style: solid;
	border-radius: 5px;
	border-width: 2px;
	bottom: 0;
}

.accordion-toggle:after {
    content: "\f078";    
}
.accordion-opened .accordion-toggle:after {    
    content: "\f054";    
}