{% extends "base.html" %}
  {% block scripts %}
    {% load staticfiles %}
    <!-- Import JQuery style.js) -->
    <script src="{% static 'charsheet/js/jquery.formset.js' %}"></script>
    <script src="{% static 'charsheet/js/django.inline.js' %}"></script>
  {% endblock scripts %}
  {% block header %}{% endblock header %}
  {% block content %}
    <div>
        <form action="." method="post">
            {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
            <fieldset>
                <legend>Character Class</legend>
                {{ characterclass_form.management_form }}
                {{ characterclass_form.non_form_errors }}
                {% for form in characterclass_form %}
                    {{ form.id }}
                    <div class="inline {{ characterclass_form.prefix }}">
                        {{ form.char_class.errors }}
                        {{ form.char_class.label_tag }}
                        {{ form.char_class }}

                        {{ form.level.errors }}
                        {{ form.level.label_tag }}
                        {{ form.level }}
                    </div>
                {% endfor %}
                {{ equipment_form.management_form }}
                {{ equipment_form.non_form_errors }}
                {% for form in equipment_form %}
                    {{ form.id }}
                    <div class="inline {{ equipment_form.prefix }}">
                        {{ form.quantity.errors }}
                        {{ form.quantity.label_tag }}
                        {{ form.quantity }}

                        {{ form.name.errors }}
                        {{ form.name.label_tag }}
                        {{ form.name }}

                        {{ form.description.errors }}
                        {{ form.description.label_tag }}
                        {{ form.description }}

                        {{ form.weight.errors }}
                        {{ form.weight.label_tag }}
                        {{ form.weight }}

                        {{ form.value.errors }}
                        {{ form.value.label_tag }}
                        {{ form.value }}
                    </div>
                {% endfor %}
                {{ attacksandspellcasting_form.management_form }}
                {{ attacksandspellcasting_form.non_form_errors }}
                {% for form in attacksandspellcasting_form %}
                    {{ form.id }}
                    <div class="inline {{ attacksandspellcasting_form.prefix }}">
                        {{ form.attack.errors }}
                        {{ form.attack.label_tag }}
                        {{ form.attack }}

                        {{ form.bonus.errors }}
                        {{ form.bonus.label_tag }}
                        {{ form.bonus }}

                        {{ form.damage.errors }}
                        {{ form.damage.label_tag }}
                        {{ form.damage }}

                        {{ form.damage_type.errors }}
                        {{ form.damage_type.label_tag }}
                        {{ form.damage_type }}
                    </div>
                {% endfor %}
                {{ spells_form.management_form }}
                {{ spells_form.non_form_errors }}
                {% for form in spells_form %}
                    {{ form.id }}
                    <div class="inline {{ spells_form.prefix }}">
                        {{ form.level_or_cantrip.errors }}
                        {{ form.level_or_cantrip.label_tag }}
                        {{ form.level_or_cantrip }}

                        {{ form.name.errors }}
                        {{ form.name.label_tag }}
                        {{ form.name }}

                        {{ form.description.errors }}
                        {{ form.description.label_tag }}
                        {{ form.description }}

                        {{ form.prepared.errors }}
                        {{ form.prepared.label_tag }}
                        {{ form.prepared }}
                    </div>
                {% endfor %}
            </fieldset>
            <input type="submit" value="Create" class="submit" />
        </form>
    </div>
<br>
<br>
<br><br><br><br><br><br>
{% endblock content %}
{% block footer %}{% endblock footer %}
