<div>
	{{ character.player_name}}
</div>
<br />
<div class="form-control input-lg">
	{{ character.character_name }}
</div>
<div>
	{{ characterclass.level}}
	{{ character.race}}
	{#  {{ characterclass.char_class}}  #}
	{{ character.background }}
	{{ character.alignment}}
</div>
<br />

<div id="str">
	Strength<br />
	{{ character.strength}}<br />
</div>
	<br />
	Dexterity<br />
	{{ character.dexterity}}<br />
	<br />
	Constitution<br />
	{{ character.constitution}}<br />
	<br />
	Intelligence<br />
	{{ character.intelligence}}<br />
	<br />
	Wisdom<br />
	{{ character.wisdom}}<br />
	<br />
	Charisma<br />
	{{ character.charisma}}<br />
	<br />
</div>
<div>
	{{ character.}}
	{{ character.}}
	{{ character.}}
	{{ character.}}
	{{ character.}}
	{{ character.}}
	{{ character.}}
	{{ character.}}
</div>
<div>
	{{ character.}}
	{{ character.}}
	{{ character.}}
	{{ character.}}
	{{ character.}}
	{{ character.}}
	{{ character.}}
	{{ character.}}
</div>
<div>
	{{ character.}}
	{{ character.}}
	{{ character.}}
	{{ character.}}
	{{ character.}}
	{{ character.}}
	{{ character.}}
	{{ character.}}
</div>