{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

		<div class="container-fluid">
			<div class="char_header">
				Characters
			</div>
		</div>
	<div class="container">
		<!-- Row 1 -->
		<div class="row">
			<!-- Character List -->
				{% if charsheet_list %}
			    {% for charsheet in charsheet_list %}
				    	<a href="/{{ charsheet.id }}/">
                <img src="{% static 'charsheet/images/warrior-default.svg' %}" alt="" />
									{{ charsheet.character_name }}
									({{ charsheet.player_name }})
							</a>
			    {% endfor %}
				{% endif %}
    </div>

	</div>
{% endblock content %}

{% block footer %}{% endblock footer %}
