{% extends "base.html" %}

	{% block scripts %}
		{% load staticfiles %}
		<!-- Import JQuery style.js) -->
		<script src="{% static 'charsheet/js/style.js' %}"></script>
	{% endblock scripts %}

{% block charname %}
	{{ character.character_name }}
{% endblock charname %}


{% block content %}
	<div class="top_space"></div>
	<div class="title_large">
		{{ character.character_name}}
	</div>
	<div class="char_bar">
		<form action="" method="post">{% csrf_token %}
			{{ form.non_field_errors }}

			<div class="accordion" id="accordion2">
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
			        <div class="title_medium">
								Character Info:
							</div>
			      </a>
			    </div>

			    <div id="collapseOne" class="accordion-body collapse in">
			      <div class="accordion-inner">

			        <label for="{{ form.race.id_for_label }}">
								Race: 
							</label>
							{{ form.race }}

							<label for="{{ form.background.id_for_label }}">
								Background: 
							</label>
							{{ form.background }}

							<label for="{{ form.alignment.id_for_label }}">
								Alignment: 
							</label>
							{{ form.alignment }}

			      </div>
			    </div>
			  </div>
			</div>


			<div class="accordion" id="accordion2">
			  <div class="accordion-group">
			    <div class="accordion-heading">
			      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
			        <div class="title_medium">
								Skills:
							</div>
			      </a>
			    </div>

			    <div id="collapseTwo" class="accordion-body collapse in">
			      <div class="accordion-inner">
			      	<div class="skill_bar">
				        <label for="{{ form.acrobatics.id_for_label }}">
									Acrobatics: 
								</label>
								{{ form.acrobatics }}

								<label for="{{ form.animal_handling.id_for_label }}">
									Animal Handling: 
								</label>
								{{ form.animal_handling }}

								<label for="{{ form.arcana.id_for_label }}">
									Arcana: 
								</label>
								{{ form.arcana }}

								<label for="{{ form.athletics.id_for_label }}">
									Athletics: 
								</label>
								{{ form.athletics }}

								<label for="{{ form.deception.id_for_label }}">
									Deception: 
								</label>
								{{ form.deception }}

								<label for="{{ form.history.id_for_label }}">
									History: 
								</label>
								{{ form.history }}

								<label for="{{ form.insight.id_for_label }}">
									Insight: 
								</label>
								{{ form.insight }}

								<label for="{{ form.intimidation.id_for_label }}">
									Intimidation: 
								</label>
								{{ form.intimidation }}

								<label for="{{ form.investigation.id_for_label }}">
									Investigation: 
								</label>
								{{ form.investigation }}

								<label for="{{ form.medicine.id_for_label }}">
									Medicine: 
								</label>
								{{ form.medicine }}

								<label for="{{ form.nature.id_for_label }}">
									Nature: 
								</label>
								{{ form.nature }}

								<label for="{{ form.perception.id_for_label }}">
									Perception: 
								</label>
								{{ form.perception }}

								<label for="{{ form.performance.id_for_label }}">
									Performance: 
								</label>
								{{ form.performance }}

								<label for="{{ form.persuasion.id_for_label }}">
									Persuasion: 
								</label>
								{{ form.persuasion }}

								<label for="{{ form.religion.id_for_label }}">
									Religion: 
								</label>
								{{ form.religion }}

								<label for="{{ form.sleight_of_hand.id_for_label }}">
									Sleight of Hand: 
								</label>
								{{ form.sleight_of_hand }}

								<label for="{{ form.stealth.id_for_label }}">
									Stealth: 
								</label>
								{{ form.stealth }}

								<label for="{{ form.survival.id_for_label }}">
									Survival: 
								</label>
								{{ form.survival }}
							</div>
			      </div>
			    </div>
			  </div>
			</div>


			<div class="field_wrapper">
				<label for="{{ form.race.id_for_label }}">
					Character Race: 
				</label>
				{{ form.race }}
			</div>

			<div class="field_wrapper">
				<label for="{{ form.background.id_for_label }}">
					Background: 
				</label>
				{{ form.background }}
			</div>
		
		  <div class="field_wrapper">
				
			</div>
		  

		  <div class="field_wrapper">
				<label for="{{ form.strength.id_for_label }}">
					Strength: 
				</label>
				{{ form.strength }}
			</div>

		  <div class="field_wrapper">
				<label for="{{ form.dexterity.id_for_label }}">
					Dexterity: 
				</label>
				{{ form.dexterity }}
			</div>

			<div class="field_wrapper">
				<label for="{{ form.constitution.id_for_label }}">
					Constitution: 
				</label>
				{{ form.constitution }}
			</div>

			<div class="field_wrapper">
				<label for="{{ form.intelligence.id_for_label }}">
					Intelligence: 
				</label>
				{{ form.intelligence }}
			</div>

			<div class="field_wrapper">
				<label for="{{ form.wisdom.id_for_label }}">
					Wisdom: 
				</label>
				{{ form.wisdom }}
			</div>

			<div class="field_wrapper">
				<label for="{{ form.charisma.id_for_label }}">
					Charisma: 
				</label>
				{{ form.charisma }}
			</div>

			<div class="field_wrapper">
				<label for="{{ form.constitution.id_for_label }}">
					Constitution: 
				</label>
				{{ form.constitution }}
			</div>
	  	<input type="submit" value="Update" />
		</form>
	</div>
{% endblock content %}